<!-- <app-navbar></app-navbar> -->

<div class="main">
  <div class="ticket-info">
    <div class="ticket-info-header">
      <!-- <p-button label="" icon="pi pi-arrow-right" iconPos="right"></p-button> -->
      <button>
        <i class="pi pi-arrow-right"></i>
      </button>
      <span>
        تذكرة رقم #2342
      </span>
    </div>

    <div class="ticket-info-body">
      <!-- <p-button label="تعديل" icon="pi pi-pencil" iconPos="right"></p-button> -->

      <button>
        <i class="pi pi-pencil"></i>
        تعديل
      </button>

    </div>
  </div>
  <div class="main-container">
    <app-apex-chart></app-apex-chart>
    <app-ticket></app-ticket>
  </div>
  <app-primeng-table></app-primeng-table>
</div>
