<div class="card flex justify-content-center gap-2">
  <p-toast></p-toast>
</div>
<div class="ticket">
  <div class="info">
    <div class="info-header">
      <h3 class="info-header-title">
        <span>عرض التذكرة الخاصة بالفيلم</span>
        <i class="pi pi-trash" (click)="delete($event)" pTooltip="حذف" tooltipPosition="bottom" label="حذف"></i>
      </h3>
    </div>
    <div>
      <p-confirmPopup #confirmPopupRef>
        <ng-template pTemplate="headless" let-message let-test>
          <div class="bg-gray-900 text-white border-round p-3">
            <span>{{ message.message }}</span>
            <div class="flex align-items-center gap-2 mt-3">
              <button (click)="accept()" pButton label="Save" class="p-button-sm p-button-outlined">
                <i class="pi pi-check"></i>
              </button>
              <button (click)="reject()" pButton label="Cancel" class="p-button-sm p-button-text">
                <i class="pi pi-times"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </p-confirmPopup>
    </div>
    <div class="info-body">
      <input type="text" [value]="link" readonly>
      <i class="pi pi-copy" pTooltip="نسخ الرابط" (click)="copyLink()"></i>
    </div>

    <p class="info-footer">
      فعال حتي 15 يوليو 2023
    </p>
  </div>
  <div class="holes-lower"></div>

  <div class="info-second">
    <div class="discount">
      <p class="discount-title"> خصم </p>
      <div>

        <span> 25% </span>
        <!-- // share button with icon -->
        <button class="share-btn" (click)="shareTicket()" pTooltip="مشاركة" tooltipPosition="bottom" label="مشاركة">
          <i class="pi pi-send"></i>
          مشاركة
        </button>


      </div>

    </div>
    <div class="qr-code">
      <qrcode class="qr" [qrdata]="' qr code here '" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
    </div>

  </div>

</div>
